# TODO: add project-specific ignore patterns
# Terraform
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
# Local plans
tfplan
*.plan

# Java / Maven
**/target/
*.class
*.jar
*.war

# Node / Angular
**/node_modules/
**/dist/
**/coverage/
**/.angular/

# IDE
.idea/
.vscode/
*.iml
